---
import { Icon } from "astro-icon";
const { href, icon, alt, hoverColour } = Astro.props;
---

<a href={href} aria-label={alt}>
    <Icon alt={alt} name={icon} />
</a>

<style define:vars={{ hoverColour }}>
    a {
        display: block;
        height: 27px;
        width: 27px;
        text-decoration: none;

        > svg {
            height: 27px;
            width: 27px;
            fill: black;
        }
    }

    a:hover {
        > svg {
            transition: fill .1s linear;
            fill: var(--hoverColour);
        }
    }
</style>